<!docttype html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>RockPaperScissors!</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/home">home</a></li>
        <li> <a href="/how-to-play">how-to-play</a></li>
      </ul>
    </nav>
   <iframe src="//giphy.com/embed/A6jVdKALdZO0M" width="480" height="270" frameBorder="0" class="giphy-embed"></iframe>
    <%= yield %>
  </body>
</html> 