<h1>How to play...</h1>
<p>This is Rock Paper Scissors, the deadliest game of all and for which there are no rules. Only the strong survive...</p>
<p>but if you really don't know...Player 1 goes first and puts their weapon of choice into the address bar and the Player 2 does the same. </p>
<p>e.g.</p>
<p>localhost:4567/player1weapon/player2weapon</p>